<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OLKI.Programme.QuiAbl.Properties.Settings_AppVar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OLKI.Programme.QuiAbl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OLKI.Programme.QuiAbl.Properties.Settings_AppConst" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OLKI.Programme.QuiAbl.Properties.Settings_AppVar>
            <setting name="SettingsUpgradet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentFiles_FileList" serializeAs="String">
                <value />
            </setting>
            <setting name="MainForm_State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainForm_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ColHeadSet_cohBillsTitle_Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColHeadSet_cohBillsDate_Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColHeadSet_cohBillsDocuments_Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColHeadSet_cohBillsCategory_Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColHeadSet_cohBillsComapny_Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColHeadSet_cohBillsComment_Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColHeadSet_cohBillsLength_Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColHeadSet_cohBillsId_Width" serializeAs="String">
                <value>-1</value>
            </setting>
        </OLKI.Programme.QuiAbl.Properties.Settings_AppVar>
        <OLKI.Programme.QuiAbl.Properties.Settings>
            <setting name="ProjectFile_DefaultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Startup_DefaultFileOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="Startup_DefaultLoadEmptyProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>dd.MM.yyyy</value>
            </setting>
            <setting name="FileAssociation_CheckAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scan_DefaultResolution" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TreeView_BillClasses_ExpandAllDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TreeView_BillClasses_AllowCollaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppUpdate_CheckAtStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scan_DefaultColorMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Search_AutoOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scan_DefaultThreshold" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="Company_CheckDoubleNaming" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentFiles_MaxLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CropArea_AddRemoveWithMouseClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CropArea_SelectionWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Search_CloseAfterSucessSearch" serializeAs="String">
                <value>False</value>
            </setting>
        </OLKI.Programme.QuiAbl.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OLKI.Programme.QuiAbl.Properties.Settings_AppConst>
            <setting name="ProjectFile_DefaultExtension" serializeAs="String">
                <value>QuiAblDb</value>
            </setting>
            <setting name="ProjectFile_FilterList" serializeAs="String">
                <value>Quittungsdatenbank (*.QuiAblDb)|*.QuiAblDb|QuiAbl (*.xml)|*.xml|Alle Dateien (*.*)|*.*</value>
            </setting>
            <setting name="ProjectFile_FilterIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProjectFile_VersionCompatibleNative" serializeAs="String">
                <value>1;2;3;4;5</value>
            </setting>
            <setting name="ProjectFile_VersionCompatibleConvert" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectFile_Version_Actual" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FileAssociation_ExtensionDescription" serializeAs="String">
                <value>QuiAbl Database</value>
            </setting>
            <setting name="FileAssociation_ExtensionFile" serializeAs="String">
                <value>QuiAbl.Database</value>
            </setting>
            <setting name="FileAssociation_ExtensionIconFile" serializeAs="String">
                <value>Project_Symbol.ico</value>
            </setting>
            <setting name="AppUpdate_SetupSearchPattern" serializeAs="String">
                <value>QuiAbl__v{0}__Setup.exe</value>
            </setting>
            <setting name="AppUpdate_Owner" serializeAs="String">
                <value>OliverKind</value>
            </setting>
            <setting name="AppUpdate_Name" serializeAs="String">
                <value>OLKI.Programme.QuiAbl</value>
            </setting>
            <setting name="AppUpdate_ChangeLog" serializeAs="String">
                <value>Changelog.txt</value>
            </setting>
            <setting name="CSVfile_FilterList" serializeAs="String">
                <value>CSV-Datei (*.csv)|*.csv|Alle Dateien (*.*)|*.*</value>
            </setting>
            <setting name="CSVfile_FilterIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CSVfile_DefaultExtension" serializeAs="String">
                <value>csv</value>
            </setting>
            <setting name="RecentFiles_Seperator" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="ScanedImages_DefaultExtension" serializeAs="String">
                <value>.jpg</value>
            </setting>
            <setting name="ScanedImages_DefaultFormat" serializeAs="String">
                <value>Jpeg</value>
            </setting>
            <setting name="ScanedImages_DefaultFileName" serializeAs="String">
                <value>Gescantes Bild</value>
            </setting>
        </OLKI.Programme.QuiAbl.Properties.Settings_AppConst>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
